body {
    margin: 0;
    padding: 0;
}

.Heading {
    display: flex;
    /* align-items:initial;
    justify-content:left */
  }
  /* .Heading h2{
    background-color: blueviolet;
    height: 44px;
    
  } */
  .Heading p{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 40px;
    margin-left: 23px;
  }
  /* .Heading span{
    margin-left: -33px;
  } */
#president {
    /* flex-basis: 10% */
   margin-left:-135px;
    height: 20%;
    margin-top: 49px;
}
 #founder{
    /* flex-basis: 10% */
   margin-left:-135px;
    height: 10%;
    margin-top: 49px;
}