/* body{
    padding: 0;
    margin: 0;
    background-color: floralwhite;
}

.slider-frame{
    overflow: hidden;
    height: 300px;
    width: 1000px;
    margin-left: 0px;
    margin-top: 50px; 
}



@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left:2400px;}
    50% {left:2400px;}
    60% {left:1200px;}
    70% {left:1200px;}
    80% {left:0px;}
    90% {left:0px;}
    100% {left:0px;}
}

.slide-images{
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: right;
} */



#main{
    position: relative;
    height: auto;
    width: 100%;
}

img{
    height: 500px;
    width: 100%;
}

.info{
    border: 3px solid;
    border-color: brown;
    width: 850px;
    padding-left: 2%;
    font-size: 20px;
}

h1{
    padding-left: 35%;
}

.news{
    border: 3px solid;
    border-color: brown;
    width: 500px;
    padding-left: 2%;
    position: relative;
    left: 63%;
}

.button1 {
    border: 1px solid;
    color: rgb(10, 10, 10);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
  }

  .button1:hover {
    background-color: #0aa4ec;
    color: white;
  }
  
  .container{
    width: 1100px;
    height: 200px;
    border: 2px solid royalblue;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 50px;
    background-color: aquamarine;
    border-radius: 20%;
  }

  .img {
    width: 150px;
    height: 150px;
    clip-path: circle();
    margin-top: 25px;
    margin-left: 50px;
  }

  .right {
    padding-left: 150px;
    display: inline-block;
    font-size: 25px;
  }

h2 {
    text-align: center;
    font-size: 30px;
}

.img2 {
    width: 150px;
    height: 150px;
    clip-path: circle();
    margin-top: 25px;
    margin-left: 150px;
  }

  .left {
    padding-left: 80px;
    display: inline-block;
    font-size: 25px;
    margin: 0%;
  }

  .img3 {
    width: 150px;
    height: 150px;
    clip-path: circle();
    margin-top: 25px;
    margin-left: 45px;
  }