/* body{
  border: 2px solid black;
  padding: 40px;
  max-width: 980px;
  margin-left: 5%;
} */
* {
  box-sizing: border-box;
}
h1{
  text-align: center;
}
#form{
width: 100%;
}

input[type="text"]{
  border: none;
  border-bottom: 1px solid black;
  outline: none; 
 
}
input[type=file]{
  border: none;
border-bottom: 1px solid white;
float: right;
}

.row{padding-top:50px;}
.row h1{
  margin-right: 2%;
  font-weight: bold;

}
.main-box{
  background-color: rgb(141, 198, 247);
  border-radius: 15px;
  box-shadow: 5px 5px 5px;
  position: relative;
  overflow: visible;
  width: 1000px;
  max-width: 100%;
  min-height: 450px;
  
}
form {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 750px;
  margin: 0px 0 10px;
}
input[type=email], input[type=password] {
  width: 90%;
  padding: 10px ;
  margin: 6px 20px;
  display: inline-block;
  border: 1px solid rgb(129, 129, 129);
  box-sizing: border-box;
  border-radius: 22px;
  
}
input[type=submit] {
  border-radius: 20px;
  border: 1px solid #4b4d4d;
  background-color: #006288;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 34px;
  padding: 14px 40px;
  transition: transform 70ms ease-in;

}
input[type=submit]:hover{
  background-color: rgb(23, 45, 67);
  opacity: 0.8;
}
.e{
  margin-left: 34px;
}


