/* Header */
body {
    margin: 0;
    padding: 0;
}

.header {
    margin-top: 40px;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(244, 244, 247, 0.7), rgba(213, 214, 219, 0.384));
    background-size: cover;
    position: relative;
    outline: auto;
}

#img1 {
    margin-left: 5px;
    margin-top: 39px;
    height:82px;
    
}

#img2 {
    margin-top: 39px;
    margin-left: 150px;
    height:142px;

}

#img3 {
    margin-top: -210px;
    margin-left: 946px;
    width: 19%;

}

#img4 {
    margin-top: -152px;
    /* margin-bottom: px; */
    margin-left: 80px;
    height: 133px;
    position: absolute;
    
}
#img5{
    width:100%;
}
/* Dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .about {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .about-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: block;
  }
  
#login{
    text-align: center;
    text-decoration: none;
    font-size: 34px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:  rgb(10, 93, 125);;
}
#first-1 {
    width: 100%;
    padding-left: 54px;
    background-color: rgb(10, 93, 125);
    color: white;
    font-size: 14;
    height: 55px;

}

nav {
    margin-top:-42px;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    nav-up: current;
}


.nav-links a {
    flex: 1;
    text-align: left;
    font-size: 25px;
    color: white;
    transition: 0.4s;
    list-style: none;
    display: inline-block;
    padding: 8px 34px;
    position: relative;
    text-decoration: none;
   
}

.nav-links :hover {
    color: rgb(125, 228, 237);
    transition: 0.5s;
    cursor: pointer;
}
/* .nav-links ul li a {
    color: rgb(15, 10, 10);
    text-decoration: none;
    font-size: 13px;

}

.nav-links ::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    color: rgb(255, 0, 0);
    transition: 0.5s;

}

.nav-links a :hover::after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    margin: auto;
    color: red;
    transition: 0.5s;
    cursor: pointer;
} */

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: black;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 1%;
    letter-spacing: 2px;

}

.content h1 span {
    color: green;
}

button {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(19, 10, 10);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;

    text-align: center;
    cursor: pointer;
    background-color: rgb(10, 93, 125);

}

button a {
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;

}

button:hover {
    background-color: #646666;
}

.form p a {
    text-decoration: none;
    color: rgb(250, 16, 28);
}


.form {
    width: 400px;
    height: 300px;
    position: absolute;
    top: -1px;
    left: 800px;

}
.enroll .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
 }
 .enroll .box-container .box{
    padding:3rem 2rem;
    text-align: center;
    background: var(--main-color);
    cursor: pointer;
 }
 .enroll .box-container .box h3{
    color: white;
    font-size: 1.7rem;
    padding-top: 1rem;
 }
 .enroll .box-container .box:hover{
    background: var(--black);
 }
 
 .enroll .box-container .box img{
    height: 7rem;
 }


/* footer */

.footer{
    background: rgb(31, 32, 35);;
    background-size: cover;
    background-position: center;
 }
 
 .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
 }
 
 .footer .box-container .box h3{
    color:white;
    font-size: 2.5rem;
    padding-bottom: 2rem;
 }
 
 .footer .box-container .box a{
    color:white;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
 }
 
 .footer .box-container .box a i{
    color:var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
 }
 
 .footer .box-container .box a:hover i{
    padding-right: 2rem;
 }
 
 .footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-white);
    font-size: 2rem;
    color:var(--white);
 }
 
 .footer .credit span{
    color:var(--main-color);
 }


/*
        <i class="fa-solid fa-registered"></i>
        <i class="fa-solid fa-circle-right"></i>
        <i class="fa-solid fa-memo"></i>
<i class="fa-solid fa-arrows-rotate"></i>
        */