
h1{
    padding-left: 35%;
}
.button1 {
    border: 1px solid;
    color: rgb(10, 10, 10);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    
  }

  .button1:hover {
    background-color: #0aa4ec;
    color: white;
  }
  .p2{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  /* #first {
    margin-top:-13px;
    width: 100%;
    padding: 4.4;
    background-color: rgb(246, 247, 248);
    color: white;
    font-size: 14;
    height: 55px;

} */

nav {
    margin-top:-32px;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    nav-up: current;
}


.nav-link1 a {
    flex: 1;
    text-align: left;
    font-size: 25px;
    color: rgb(32, 23, 23);
    transition: 0.4s;
    list-style: none;
    display: inline-block;
    padding: 8px 36px;
    position: relative;
    text-decoration: none;
    margin-left: 60px;
    

}

.nav-link1 ul :hover {
    color: rgb(28, 31, 31);
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(217, 214, 214);
}

.news {
  /* border: 3px solid; */
  border-color: brown;
  width: 100%;

  height: 440px;
  background-color: #E9EBF5;
}
.news h1{
  margin-left: 423px;
}
.newsItems {
  overflow: hidden;
  display: block;
  height: 330px;
  font-size: large;
  margin-left: 845px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.newsItems>div {

  animation: scroll;
  animation-duration: 20s;
  transition: all 1s linear;

}

@keyframes scroll {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-1000px);
  }

  100% {
    transform: translateY(0px);
  }
}

table{
  width: 900px;
  height: 300px;
  border-collapse: collapse;
  position: relative;
  margin: 0% 0% 2% 22%;
  
}

th{
  border-bottom: 1px solid black;
  border: 2px solid black;
  text-align: center;
}

td{
  text-align: center;
  border: 2px solid black;
}

.t1{
  background-color: #E9EBF5;
}

.t2{
  background-color: #CFD5EA;
}
.embed-container{
  margin-top: -419px;
  height: 400px;
  padding-left: 29px;
 
}

