* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerSlide {
    /* width: 650px;
    margin: auto;
    padding-top: 200px; */
    
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
}

.containerSlide img {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
    /* height: 400px;
  width: 100%;
  border-radius: 40px;
  display: inline-block;*/
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
} 
.logo{
    width: 100%;
}
#first {
    margin-top:-13px;
    width: 100%;
    padding: 4.4;
    background-color: rgb(246, 247, 248);
    color: white;
    font-size: 14;
    height: 55px;

}

nav {
    margin-top:-32px;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    nav-up: current;
    
}


.nav-links a {
    flex: 1;
    text-align: left;
    font-size: 25px;
    color: rgb(32, 23, 23);
    transition: 0.4s;
    list-style: none;
    display: inline-block;
    padding: 8px 76px;
    position: relative;
    text-decoration: none;
    margin-left: 60px;

}

.nav-links :hover {
    color: rgb(200, 200, 200);
    transition: 0.5s;
    cursor: pointer;
}
.container {
    display: flex;
    padding:  27px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}
.container1 {
    display: flex;
    padding: 22px 72px;
    margin-left: 29px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

/* .each-slide {
    display: flex;
  
    height: 400px;
    width: 100%;
    border-radius: 40px;
  }
   */

/* Slideshow */

/* .slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .slide {
    display: inline-block;
  
    height: 400px;
    width: 100%;
    border-radius: 40px;
  }
  
  /* Buttons */
  
  /* .slideshowDots {
    text-align: center;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #6a0dad;
  }
   */ 